

.title h1{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 	font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.95);
    font-size: 30px;
    text-decoration: none;
    letter-spacing: 0.1em;
    margin-top:20px;
	margin-left:15px;
    margin-bottom:30px;
    text-align:left;	
}

.items{
	display: flex;
	flex-wrap:wrap;
	padding-bottom: 20px;
	max-width:100%;
	position:relative;

    margin-left: 20px;
	margin-right: 20px;
	border-radius:20px;
    background-image: url("images/title.jpg");
	justify-content: center;
	
}

.profile{
	width:40%;
	height:100%;
	margin-top: 15px;

}
.history{
	width:55%;
	height:100%;
	margin-top: 15px;
}

.info, .info td {
 font-family: 'Roboto', sans-serif;
 padding:0px 0px;
 font-size:8px;
 color:#4d0000;
 width:auto;
 padding:10px;  
 margin-top:5px; }
 
 .info{
	border-radius:10px;
    background-color:rgba(255, 255, 255,0.8);}

.info2, .info2 td {
 font-family: 'Roboto', sans-serif;
 padding:0px 0px;
 font-size:7px;
 color:#4d0000;
 width:auto;
 height:100%;
 padding:5px 12px; 
 margin-left:0px; 
 margin-top:5px; 
 }

 
 .info2 td { 
  background-color:rgba(255, 255, 255,0.8);
  border-radius:3px;
 }
 
 .info2 th { 
 
   font-family: 'Roboto', sans-serif;
   padding:0px 0px;
   font-size:11px;
   color:#4d0000;
   width:auto;
   height:10px;
   padding:5px 12px; 
   margin-left:0px; 
   margin-top:5px; 
   border: none;
   border-radius:3px;
   background-color:rgba(255, 255, 255,0.8);
 }


.forminput{
    font-size: 17px;
    box-sizing: border-box;
    width: 450px;
    height: 34px;
    padding-left: 10px;
    padding-right: 10px;
    color: #333333;
    text-align: left;
    border: 2px solid #4d0000;
    border-radius: 4px;
    background: rgba(238, 238, 221, 0.6);
    outline: none;
}

.btn {
	font-family: 'Roboto', sans-serif;
    display:inline-block;
    margin-top:20px;
    background-color:rgba(180, 9, 9, 1);
    font-size:24px;
    height:40px;
    width:120px;
    border-radius:10px;
    border: none;
    color:rgba(255, 255, 255,0.9);
    text-align: center;
	text-decoration: none;
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.6);
}



.btn:hover {
  background-color: rgba(  180, 9, 9, 0.7);
  color:white;
}